<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <pages buffer="true"
         masterPageFile = "~/Management/Site.master"
         enableEventValidation="false">
      </pages>
      <httpRuntime  maxRequestLength="120536"  executionTimeout="3600"/>

		<authorization>
			<deny users="?" />
		</authorization>
     <customErrors mode="Off" />
    </system.web>
</configuration>
